.constructorBox {
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.constructor {
    width: 50%;
}

.h1 {
    text-align: justify;
}

.tabList {
    display: flex;
}